/* app.component.css */

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.row {
  margin: 15px;
}

.row label{
  margin: 5px;
}
.row select{
  margin: 5px;
}


button {
  padding: 10px 20px;
  background-color: #4b4cb4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
}

.file-upload label,
.file-upload input,
.file-upload button {
  margin-left: 20px;
}



/* Style for HTTP request container box */
.http-request-box {
  border: 1px solid #ccc; /* Thin border around each HTTP request box */
  padding: 15px;
  margin-bottom: 15px; /* Space between multiple HTTP request boxes */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background for visual separation */
  
}

/* Ensure form elements inside .http-request-box are consistent */
.http-request-box textarea {
  width: 95%; /* Ensure all inputs, selects, and textareas fill the container */
  padding: 8px; /* Padding for a consistent look */
  /*margin: 5px 0;*/ /* Margin for spacing between elements */
  border: 1px solid #ccc; /* Matching border style */
  border-radius: 4px; /* Rounded corners */
  font-size: 12px; /* Consistent font size */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

/* Labels inside .http-request-box */
.output-variable-container label,
.http-request-box select,
.http-request-box input,
.http-request-box label {
  width: 40%; /* Ensure labels fill the container */
  margin-bottom: 0; /* No extra margin for labels */
  font-size: 12px; /* Consistent font size for labels */
}


/* Optional: Style for the file input section */
.file-upload input[type="file"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
}

/* Submit button styling */
button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.nextlinewrap{
  display: flex;
  flex-wrap: wrap;  /* Allow wrapping to the next line */
  gap: 2px;        /* Optional, adds space between the dots */
}

.sameline{
  display: inline-block;  /* Keep the dots on the same line */
  margin-right: 2px;      /* Optional, adds space between dots */
}



.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {

  font-family: Roboto, "Helvetica Neue", sans-serif;


}
